.container {
  margin-top: 40px;
  width: 600px;
}

.container h1 {
  margin-bottom: 20px;
}

.container h1 .title {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  color: #333333;
}

.container .table ul li {
  position: relative;
}

.container .table .materials {
  width: 150px;
  height: 150px;
  color: #333333;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  position: absolute;
}

.container .table .material_1 {
  background-color: #ff9380;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}
.container .table .material_2 {
  background-color: #6ccdfa;
  top: 300px;
  left: 10%;
}
.container .table .material_3 {
  background-color: #9885ff;
  top: 300px;
  right: 10%;
}
